body{
    margin: 0;
    padding: 0;
}
.header{
    margin-bottom: 26px;
    background: #fefefe;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    height: 142px;
    width: 100%;
}
.top-head{
    height: 92px;
    width: 1000px;
    margin: 0 auto;
    background-color: #F6F6F6;
}
.logo{
    height: 100%;
    width:200px ;
    float: left;
}
.search-wrap{
    width: 320px;
    height: 38px;
    margin: 28px 0 0 100px;
    float: left;
}
form {
    display: block;
    margin-top: 0em;
    width: 320px;
    height: 38px;
}
input {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
input.search-box {
    font: 14px/34px PingFangSC-Regular,'-apple-system',Simsun;
    width: 244px;
    height: 34px;
    padding: 0 10px 0 18px;
    border: 2px solid #4fb53d;
    border-right: none;
    border-radius: 100px 0 0 100px;
    background: 0 0;
}
.search-wrap form input {
    float: left;
}
.submit-input {
    position: absolute;
    clip: rect(0 0 0 0);
}
input[type="submit" i] {
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
label {
    float: left;
    width: 44px;
    height: 34px;
    border: 2px solid #d39839;
    border-left: none;
    border-radius: 0 100px 100px 0;
}
label {
    cursor: pointer;
}
.iconfont {
    font-size: 18px;
    line-height: 34px;
    display: block;
    width: 18px;
    margin: 0 auto;
    color: #d39839;
    -webkit-text-stroke-width: .4px;
}
.user-wrap{
    float: right;
    margin: 20px 0 0 0;
}
.user-wrap li{
    float: left;
    list-style-type: none;
    margin: 0 10px;
}
.user-wrap li a{
    text-decoration: none;
    color: #404040;
}

.header .top-head .search-wrap form input.search-box {
    font: 14px/34px PingFangSC-Regular,'-apple-system',Simsun;
    width: 244px;
    height: 34px;
    padding: 0 10px 0 18px;
    border: 2px solid #d39839;
    border-right: none;
    border-radius: 100px 0 0 100px;
    background: 0 0;
}
.he_nav{
    height: 50px;
    width: 100%;
    background: #d39839;
}
.menu{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.menu ul{
    width:1000px;
    height: 100%;
    padding: 0;
    margin: 0;
}
.menu li{
    float: left;
    list-style-type: none;
    margin-right: 30px;
    height: 50px;
    line-height: 50px;
}
.menu li a{
    text-decoration: none;
    color: white;
}
.container{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
.book{
    float: left;
    width: 25%;
    height: 250px;
}
.b_img{
    width: 80%;
    height: 150px;
    margin: 0 auto;
}
.b_info{
    width: 80%;
    height: 100px;
    margin: 0 auto;
}
.b_info a{
    text-decoration: none;
}
.name{
    height: 30%;
    width: 100%;
}
.name a{
    color: #404040;
}
.author{
    height: 30%;
    width: 100%;
}
.author a{
    color: #404040;
}
.price{
    height: 30%;
    width: 100%;
}
.price span{
    color: red;
}




